Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@marceticm 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


angular
/
angular
3.2k
65.2k17.4k
Code
Issues
2.7k
Pull requests
535
Actions
Projects
5
Security
Insights
angular/.gitignore
@mhevery
mhevery build: Ignore .history for the xyz.local-history VSCode extension (#3…
…
Latest commit 095cfd9 on Jul 17
 History
 23 contributors
@alexeagle@mhevery@gkalpak@IgorMinar@tbosch@vsavkin@petebacondarwin@ocombe@vicb@scheglov@robwormald@rkirov
47 lines (38 sloc)  726 Bytes
  
.DS_STORE

/dist/
/bazel-out
/integration/bazel/bazel-*
*.log
node_modules

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.swo
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user

.notes.md
baseline.json

# Ignore .history for the xyz.local-history VSCode extension
.history
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
